.kofi-dialog-container .KoFi-Widget-Button-Normal-Img {
  width: 30px !important;
  height: auto !important;
}

.kofi-dialog-container .KoFi-Widget-Button-Normal-Text {
  text-align: center !important;
}
